# Twinfield api
 __Notebook voor het uitvragen van twinfield dataset__
 
 __Auteur:__ Melvin Folkers (Zypp)<br>
 __Doel:__

## parameters

### run parameters

### import libraries

In [1]:
import os
import pandas as pd
import requests
from dotenv import load_dotenv

In [2]:
os.chdir('..')

In [3]:
load_dotenv("/Users/erfannariman/Workspace/staffing/18_download_twinfield_data/src/.env", override = True)

True

In [4]:
from twinfield.functions import get_metadata
from twinfield.credentials import twinfield_login
from twinfield.modules import read_offices
from twinfield.functions import import_files
from twinfield.functions import RunParameters
from twinfield.twinfield import query

In [5]:
df = query(module='100', offices=["Carriere HR Solutions III B.V."])

2020-12-15 13:51:08.376 [INFO ] [root] - ingelogd met gebruiker lavastorm
2020-12-15 13:51:08.630 [INFO ] [root] - 65 administraties beschikbaar
2020-12-15 13:51:08.632 [INFO ] [root] - 1 administraties geselecteerd
2020-12-15 13:51:08.640 [INFO ] [root] - 	---openstaande debiteuren---
administraties: 0it [00:00, ?it/s]
2020-12-15 13:51:08.804 [INFO ] [root] - 65 administraties beschikbaar
2020-12-15 13:51:08.806 [INFO ] [root] - 1 administraties geselecteerd
2020-12-15 13:51:08.807 [INFO ] [root] - 	---openstaande debiteuren---
administraties: 100%|██████████| 1/1 [00:02<00:00,  2.23s/it]

In [6]:
df

,head.number,head.status,head.code,head.shortname,head.date,head.curcode,line.dim2,line.dim2name,line.dim2type,line.valuesigned,...,line.openbasevaluesigned,line.invnumber,line.datedue,line.matchstatus,line.matchnumber,line.matchdate,line.availableforpayruns,administratienaam,administratienummer,wm
0,201900002,final,ABN204,ABN204,20190329,EUR,120006,Baronie de Heer,DEB,-5000.64,...,0.00,1900083,20190428,matched,6,20190329,true,Carriere HR Solutions III B.V.,1074703,HRSIII
1,201900003,final,ABN204,ABN204,20190405,EUR,120006,Baronie de Heer,DEB,-6591.49,...,0.00,"1900090, 1900091",20190505,matched,8,20190405,true,Carriere HR Solutions III B.V.,1074703,HRSIII
2,201900004,final,ABN204,ABN204,20190411,EUR,120006,Baronie de Heer,DEB,-5422.12,...,0.00,1900100,20190511,matched,10,20190411,true,Carriere HR Solutions III B.V.,1074703,HRSIII
3,201900005,final,ABN204,ABN204,20190418,EUR,120006,Baronie de Heer,DEB,-4713.94,...,0.00,1900104,20190518,matched,12,20190418,true,Carriere HR Solutions III B.V.,1074703,HRSIII
4,201900006,final,ABN204,ABN204,20190423,EUR,120004,Peter van Halder B.V.,DEB,-2575.11,...,0.00,1900117,20190523,matched,75,20190423,true,Carriere HR Solutions III B.V.,1074703,HRSIII
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1093,202000014,final,RC,RC,20200204,EUR,120001,Tuinderij Vers,DEB,-3437.06,...,0.00,None,20200305,matched,154,20200204,true,Carriere HR Solutions III B.V.,1074703,HRSIII
1094,202000015,final,RC,RC,20200218,EUR,120001,Tuinderij Vers,DEB,-1573.80,...,0.00,None,20200319,matched,155,20200218,true,Carriere HR Solutions III B.V.,1074703,HRSIII
1095,202000017,final,RC,RC,20200225,EUR,120001,Tuinderij Vers,DEB,-375.04,...,0.00,None,20200326,matched,156,20200225,true,Carriere HR Solutions III B.V.,1074703,HRSIII
1096,202000046,final,RC,RC,20200421,EUR,120001,Tuinderij Vers,DEB,-176.31,...,0.00,None,20200521,matched,159,20200421,true,Carriere HR Solutions III B.V.,1074703,HRSIII
1097,202000001,final,VRK,Verkoop,20200129,EUR,120001,Tuinderij Vers,DEB,375.04,...,0.00,2000001,20200228,matched,156,20200225,true,Carriere HR Solutions III B.V.,1074703,HRSIII

### juno settings

In [ ]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:80% !important; }</style>")) # maakt de jupyter notebook cellen 100% breed

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all" # om meerdere grafieken/tabellen in 1 cel te kunnen laten zien.

pd.options.display.max_columns = None # laat alle kolommen zien
pd.options.display.float_format = '{:,.2f}'.format

from IPython.display import Image
from IPython.core.display import HTML

## set run parameters

In [7]:
 run_params = RunParameters(
        jaar="2019", module="030_1", offices=[], rerun=False
    )

## Get available offices

In [8]:
login = twinfield_login()

2020-12-15 14:16:30.934 [INFO ] [root] - ingelogd met gebruiker lavastorm

In [9]:
offices = read_offices(login)

In [10]:
offices

                                         name shortname
1038632              Staffing Associates B.V.       SAS
1038632_01                   Consolidatie SAG      SAGC
1038632_11                    Consolidatie SA      SAGC
1038632_EL                      Eliminatie SA       SAE
1060253                BBB Dienstengroep B.V.       BBB
...                                       ...       ...
1074703        Carriere HR Solutions III B.V.    HRSIII
1074704         Carriere HR Solutions IV B.V.     HRSIV
9060201                     De Vlijt Sourcing       VSO
FACTURATIE004                      Facturatie
FACTURATIE007                  Facturatie SSO

[65 rows x 2 columns]

In [ ]:
fields = get_metadata('030_1',login)

## Import local files

In [ ]:
    data = import_files(run_params, "consolidatie")